h1, p{
  color: green;
  text-align: center;
}
.example{
  background-color: red;
  height: 20px;
}
<<<<<<< HEAD
h2.example{
  color: white;
  height: 40px;
}
#colors > p{
  background-color: yellow;
  color:red;
}
#orange{
  color: orange;
}
#green{
  color: green;
}
#red{
  color: red
=======
h2.ejemplo{
  color: white;
  font-size: 40px;
}
#colors{
  background-color: 'rgba(#e01313, 1)';
  color:red;
>>>>>>> origin/master
}
