body{
  background: linear-gradient(red,yellow);
  background-image: url("nav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fbdfa1;
  background-attachment: fixed;
  align-items: center;
}
div{
  margin: auto;
}
h1{
  color: rgb(50, 62, 77);
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px #536c77;
  margin: 10px;
}
.esfera{
  position: absolute;
  width: 80px;
  margin-left: 48%;
  box-shadow:; /*paraimagenes*/
  cursor: pointer;
  transition: width .3s;
}
.esfera:hover{
  position: absolute;
  width: 100px;
  animation-name: ejemplo;
  animation-duration: 2s; /*duración de la animación*/
  /*animation-delay: ;retardo para empezar la animación*/
}
.responsive{
  height: auto;
  max-width: 100%;
}
div.polaroid{
  position:inherit;
  margin:auto;
  margin-top: 200px;
  background-color: white;
  width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  display: inline-block;
  /*transition: transform 1s;*/
  animation-name: skew;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /*transform: translate(x y); -->mueve la imagen
               rotate(20deg);--> rota la imagen
               scale(X Y  "2 es el doble" ); --> aumenta el tamaño
               skew(grados) lo modifica de modo que es un rombo;*/
  /*transition: transform 2s; realiza la transicion especificada en el tiempo especificado
  transition-delay: 1s; la transicion empieza despues de un tiempo
  se puede combinar por ejemplo  que rote mientras crece: rotate(); y width:

  transition-timing-function: ease; inicio lento y final lento
                              ease-in; inicia lento
                              ease-out; termina lento
                              ease-in-out; todo es lento
                              lineaqr -->misma velocidad de inicio a fin*/
}
.polaroid img{
  opacity:.5;
  /*filter: blur(5px);--> la imagen se ve borrosa*/
  /*filter: brightness(1);--> aumenta o disminuye el brillo 1 es normal
  contrast();   grayscale();
  hue-rotate(grados 180deg);   invert();     saturate();    sepia();*/
}
/*div.polaroid:hover{
  transform: rotate(20deg);
}*/
.polaroid img:hover{
  opacity:1;
}
.text{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}
@keyframes example {
  from{background-color: red}
  to{background-color: blue}
  /*0%{}
  50%{}
  70%{}*/
}
@keyframes skew {
  0%{transform: rotate(20deg);}
  50%{transform: rotate(-20deg);}
  100%{transform: rotate(20deg);}
}
